body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, skyblue, teal);
}

a{
    color: grey;
    font-size: 20px;
    margin: 0 10px;
}

ul{
    display: flex;
    min-height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li{
    margin: 2rem 0;
}

button{
    background-color: rgb(81, 255, 240);
    border: 0;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 20px;
}

input[type=text], textarea{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
}

/* Insert following CSS to your project */
* {
    cursor: none; 
}

.custom-cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.1s ease, height 0.1s ease, border-radius 0.1s ease, transform 0.1s ease, background-color 0.1s ease;
    transform: translate(-50%, -50%);
}


